<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{msg.comercial.titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1 th:text="#{msg.comercial.titulo}"></h1>
        <form action="/comerciales/crear">
            <button type="submit" class="btn btn-primary" th:text="#{msg.crear}"></button>
        </form>
    </div>
    <hr>
    <div class="row fw-bold text-center">
        <div class="col" th:text="#{msg.id}"></div>
        <div class="col" th:text="#{msg.nombre}"></div>
        <div class="col" th:text="#{msg.apellido1}"></div>
        <div class="col" th:text="#{msg.apellido2}"></div>
        <div class="col" th:text="#{msg.comision}"></div>
        <div class="col" th:text="#{msg.accion}"></div>
        <div class="col" th:text="#{msg.email}"></div>
    </div>
    <hr>
    <div th:each="comercial : ${listaComerciales}" class="row text-center align-items-center my-2">
        <div class="col" th:text="${comercial.id}">0</div>
        <div class="col" th:text="${comercial.nombre}">nombre</div>
        <div class="col" th:text="${comercial.apellido1}">apellido1</div>
        <div class="col" th:text="${comercial.apellido2 ?: '&nbsp;'}">apellido2</div>
        <div class="col" th:text="${comercial.comision}">comision</div>
        <div class="col" th:text="${comercial.email}"></div>
        <div class="col d-flex justify-content-center gap-2">
            <form th:action="@{/comerciales/__${comercial.id}__}" class="d-inline">
                <button type="submit" class="btn btn-info btn-sm" th:text="#{msg.detalles}"></button>
            </form>
            <form th:action="@{/comerciales/editar/{id}(id=${comercial.id})}" class="d-inline">
                <button type="submit" class="btn btn-warning btn-sm" th:text="#{msg.editar}"></button>
            </form>
            <form th:action="@{/comerciales/borrar/{id}(id=${comercial.id})}" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger btn-sm" th:text="#{msg.eliminar}"></button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
