<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Comercial</title>
</head>
<body>
<div class="form-container">
    <h1>Editar Comercial</h1>
    <form th:action="@{/comerciales/editar/__${comercial.id}__}" method="POST">

        <label for="id">ID:</label>
        <input type="text" id="id" name="id" th:field="${comercial.id}" readonly="readonly"/> <!-- Sustituir con el valor dinámico del cliente -->

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required th:field="${comercial.nombre}">
        </div>
        <div class="form-group">
            <label for="apellido1">Primer Apellido:</label>
            <input type="text" id="apellido1" name="apellido1" required th:field="${comercial.apellido1}">
        </div>
        <div class="form-group">
            <label for="apellido2">Segundo Apellido:</label>
            <input type="text" id="apellido2" name="apellido2" th:field="${comercial.apellido2}">
        </div>
        <div class="form-group">
            <label for="ciudad">Comisión:</label>
            <input type="text" id="ciudad" name="ciudad" required th:field="${comercial.comision}">
        </div>
        <button>Guardar Cambios</button>
    </form>
</div>
</body>
</html>
</html>