<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{msg.cliente.editar}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4" th:text="#{msg.comercial.editar}"></h1>
    <form th:action="@{/clientes/editar/{id}(id=${cliente.id})}" method="POST" class="border p-4 rounded shadow" th:object="${cliente}">
        <div class="mb-3">
            <label for="id" class="form-label" th:text="#{msg.form.id}"></label>
            <input type="text" id="id" name="id" th:field="${cliente.id}" class="form-control" readonly="readonly" />
        </div>

        <div class="mb-3">
            <label for="nombre" class="form-label" th:text="#{msg.form.nombre}"></label>
            <input type="text" id="nombre" name="nombre" class="form-control" th:field="${cliente.nombre}">
            <ul th:if="${#fields.hasErrors('nombre')}" class="bg-warning rounded-1">
                <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" class="error"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label for="apellido1" class="form-label" th:text="#{msg.form.apellido1}"></label>
            <input type="text" id="apellido1" name="apellido1" class="form-control" th:field="${cliente.apellido1}">
            <ul th:if="${#fields.hasErrors('apellido1')}" class="bg-warning rounded-1">
                <li th:each="err : ${#fields.errors('apellido1')}" th:text="${err}" class="error"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label for="apellido2" class="form-label" th:text="#{msg.form.apellido2}"></label>
            <input type="text" id="apellido2" name="apellido2" class="form-control" th:field="${cliente.apellido2}">
            <ul th:if="${#fields.hasErrors('apellido2')}" class="bg-warning rounded-1">
                <li th:each="err : ${#fields.errors('apellido2')}" th:text="${err}" class="error"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label for="ciudad" class="form-label" th:text="#{msg.form.ciudad}"></label>
            <input type="text" id="ciudad" name="ciudad" class="form-control" th:field="${cliente.ciudad}">
            <ul th:if="${#fields.hasErrors('ciudad')}" class="bg-warning rounded-1">
                <li th:each="err : ${#fields.errors('ciudad')}" th:text="${err}" class="error"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-label" th:text="#{msg.form.categoria}"></label>
            <input type="number" id="categoria" name="categoria" class="form-control" th:field="${cliente.categoria}">
            <ul th:if="${#fields.hasErrors('categoria')}" class="bg-warning rounded-1">
                <li th:each="err : ${#fields.errors('categoria')}" th:text="${err}" class="error"></li>
            </ul>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{msg.form.guardar}"></button>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>